<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>AsigautoV2</title>
</head>
<body>
     <!-- Start header -->
     <header>
        <div class="inner">
            <div class="logo">
                <div>
                   <img src="../img/2v.png"  AsigAuto> <i class="TextLogo" > AsigAuto</a> 
                 </div>
            </div>

            <nav>
                <li><span><a href="../index.html">Rca</a></span></li>
                <li><span><a href="../pages/casco.html">Casco</a></span></li>
                <li><span><a href="../pages/informatii.html">Informatii</a></span></li>
                <li><span><a href="pages/contact.html" class="button">Contact</a></span></li>
            </nav>
        </div>
    </header>
    <!-- End  header --> 
 <!-- contact section start -->
 <section class="contact-section">
 	<div class="container-contact">
 		<div class="row">
 			<div class="section-title">
 				<h2 data-text="Contact"></h2>
 			</div>
 		</div>
 		<div class="row">
 			<div class="contact-form">
 				<form >
 					<div class="row">
 					  <div class="input-group input-3">
 					  	 <input type="text" id="name" placeholder="Nume" class="input-control" required>
 					  </div>
 					  <div class="input-group input-3">
 					  	 <input type="text" id="phone" placeholder="Nr.de Telefon" class="input-control" required>
 					  </div>
 					  <div class="input-group input-3">
 					  	 <input type="email" id="email" placeholder="adresa Email" class="input-control" required>
 					  </div>
 				    </div>
 				    <div class="row">
 				    	<div class="input-group">
 				    		<textarea id="message" placeholder="Lasa un mesaj" class="input-control"></textarea>
 				    	</div>
 				    </div>
 				    <div class="row">
 				    	<div class="input-group">
 				    		<button type="submit"  class="submit-btn">Transmite mesajul</button>
 				    	</div>
 				    </div>
 				</form>
 			</div>
 		</div>
 	</div>
 </section>

 <!-- contact section end -->





 <footer class="footer">
	<div class="container-footer">
		<div class="row">
			<div class="footer-col">
				<h4>company</h4>
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">our services</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>get help</h4>
				<ul>
					<li><span><a href="../index.html">Rca</a></span></li>
                <li><span><a href="../pages/casco.html">Casco</a></span></li>
                <li><span><a href="../pages/informatii.html">Informatii</a></span></li>
                <li><span><a href="pages/contact.html" class="button">Contact</a></span></li> 	
				</ul>
			</div>

			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

    
</body>
</html>